@font-face {
  font-family: 'DMSans';
  src: url(../fonts/DMSans-Regular.ttf);
}


/* GLOBAL RESETS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* BASIC ELEMENTS */

html, body {
  background-color: white;
  font-family: 'DMSans';
}

li{
  font-size: 1.25rem;
  margin:0.5rem
}

p{
  font-size: 1.25rem;
  font-family:'DMSans';
  color: #3a3a3a;
}

h1{
  font-size: 3.25rem;
}

h2{
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h1, h2, h3 {
  color: #0c0c0c;
}

a {
  text-decoration: none;
  color:black;
}
a:hover {
  text-decoration: line-through;
  color: #463f3f;
}

nav{
  background-color: #ffd15e;
  box-shadow:1px 7px 8px -5px rgba(46,46,46,0.58);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

nav ul, nav li {
    display: inline;
}


/* Base classes */
.base-padding {
  padding-left: 4rem;
  padding-right: 4rem;
}

.extra-padding {
  padding-left: 8rem;
  padding-right: 8rem;
}

.header-nav, .footer {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-highlight {
  padding: 0 1rem;
  background-color:#ffd15e;
  color: rgb(26, 26, 26);
  border-radius: 8px;
 }

 .outline-heading {
  margin-top: 1rem;
  padding: 0 1rem;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(14, 14, 14), 0 -1px 1px rgb(14, 14, 14), 1px 1px 1px rgb(14, 14, 14), -1px 0 0 rgb(14, 14, 14), 1px 1px 0 rgb(14, 14, 14), 1px 0 0 #000, 0 -1px 0 #000;
  transition: background-colour 150ms ease-in;
}

.outline-heading:hover{
background-color: #50f3cc;
border-radius: 1rem;
}

.emoji{
  display: inline;
}
.emoji--small {
  width: 30px;
}
.emoji--large {
  width: 45px;
}


/* Layouts */

.section-heading {
  display: flex;
  align-items: center;
}

.section-body-content {
  padding-top: 1rem;
}

.flex-container{
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  text-align: justify;
}

.column-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  align-items: center;
}

.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;

  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}

.right-spacing-4 {
  margin-right: 4px;
}

.grid-area{
  margin: 0 4rem;
}




/* Navigation */

/* Not visible on desktop */
.hamburger {
  display: none;
}

.hamburger-menu--hidden {
  display: none;
}


@keyframes bounce-arrow{
  from {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(0);
  }
  to {
    transform: translateY(7px);
  }
}

@keyframes rotateUp{
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateDown{
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}



/* Floating arrow classes/animations */
.arrow-up-icon{
  width:100%;
  right:4rem;
}

.arrow-up{
  width: 50px;
  left: 95%;
  position:sticky; 
}

.arrow-container {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  animation: bounce-arrow .7s infinite;
}

.arrow-down{
  width: 50px;
}

.arrow-icon{
  margin: 10px;
  display: inline;
  width: 40px;
  transition: transform 300ms ease-in;
}
.arrow-icon:hover {
 transform: scale(1.5);
}

.rotate-arrow--up {
  animation: rotateUp 200ms ease-in forwards;
}

.rotate-arrow--down {
  animation: rotateDown 200ms ease-in forwards;
}



/* Sections */

.hero {
  min-height: 100vh;
  padding-top: 4rem;
  background-size: cover;
  background-color: white;
  height: 50px auto;
  display: flex;
  flex-direction: column; 
  align-items: center;

  transition: opacity 300ms ease-out;
}

.eddy-image{
  width: 90%;
}

.about-me-content {
  max-width: 60ch;
}


/* MY UX/UI using flex*/
.my-skill {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
}

.my-skill .outline-heading{
  color:rgb(242,242,242);
}
.skills{
  padding-top: 3rem;
  align-self: center;
}

.skill-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-container{
  margin: 4rem;
  width: 33%;
  align-items: center;
}
.uxui-image{
  width: 85px;
}

/* My projects/projects  using grid */
.my-projects{ 
  background-color: rgb(254, 254, 254);
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-row-gap: 3rem;
  grid-column-gap: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
} 
.projects-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem; 
  padding-bottom: 4rem;
}

.projects-image{
  width: 100%;
}

.projects-content {
  margin-top: 1rem;
}

.projects-grid button {
  font-size: 1rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border-color: #ffd15e;
  background-color: whitesmoke;
  transition: background-color 150ms ease-in;
  transition: transform 200ms ease-in;
}

.projects-grid button:hover{
  /* background-color: #f2c657; */
  transform: scale(1.125);
}

.projects-grid button:active {
  background-color: rgb(220, 219, 219);
}

/* Contact me section */
.contact-me{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 6rem;
  padding-top: 3rem; 
  padding-bottom: 4rem; 
  background-color: rgb(242, 242, 242);
}

.contact-me-thanks{
  font-size: 24px;
 padding: 0 3rem;
}

 .resume{
   font-size: 24px;
   text-decoration: underline;
   display:flex;
   align-items: center;
   justify-content: center;
 }

 .resume:active {
  color:#ffd15e;
}

.social-icon{
  width: 30px;
  transition: transform 300ms ease-in;
}

.social-icon:hover {
  transform: scale(1.5);
}

/* Mobile css */
@media only screen and (max-width:600px) {
  .two-columns, .projects-grid, .contact-me {
    grid-template-columns: 1fr;
  }

  .flex-container {
    flex-direction: column;
  }

  .skill-container {
    width: auto;
    margin: 0 0 2rem;
  }

  .skill-container:first-child {
    margin-top: 2rem;
  }

  .grid-area {
    margin: 0;
  }

  nav, .hero, footer, .contact-me, .projects-grid, .flex-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact-me-thanks {
    text-align: center;
  }

  .arrow-down {
    display: none;
  }

  .eddy-image {
    width: 100%;
  }

  .hero, .two-columns {
    grid-row-gap: 2rem;
  }
  .hero h1 {
    text-align: center;
  }

  .nav-links--desktop {
    display: none;
  }

  .hamburger {
    display: initial;
  }

  .copyright {
    padding: 0;
  }
  .social-links {
    display: flex;
  }
}